/* Basic styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    
  }
h2{
  text-align: center;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}  
  .container { 
   
    max-width: 100%;
    padding: 0 3px;
      
}
.wrapper{
  height: 100vh;
  display: flex;
  flex-direction: column;
 
}
.grid{
display: grid;
grid-gap: 1em;
grid-template-columns: repeat(18,1fr);
justify-items: stretch;
/* align-items: start; */
/* grid-template-columns:minmax(1fr,1fr); */

padding: 2px;


}
.first{
  margin-bottom: 100px;
}
.item{
  min-width: calc((100% - 51px) / 18);
  padding: 1px;
  
}
.item-1{
  /* width: 1fr; */
  grid-column: 1/18;
  justify-self: start;
}
.item-4{
  grid-column: 2/13;
  justify-self: start;
}
.empty{
  grid-column: 1/4;
 

}
.gap_1{
  grid-column: 2/18;
}
.gap_2{
  grid-column: 3/13;
}
.blue{
  border: 3px solid blue;
  border-radius: 5%;
}
.red{
  border: 3px solid red;
  border-radius: 5%;
}
.orange{
  border: 3px solid orange;
  border-radius: 5%;

}
.yellow{
  border: 3px solid yellow;
  border-radius: 5%;
}
.lightblue{
   border: 3px solid lightblue;
  border-radius: 5%;
}
.lightgreen{
   border: 3px solid lightgreen;
  border-radius: 5%;
}
.violet{
   border: 3px solid violet;
  border-radius: 5%;
}
.lightviolet{
   border: 3px solid rgb(230, 159, 230);
  border-radius: 5%;
}
.darkgreen{
   border: 3px solid rgb(92, 133, 92);
  border-radius: 5%;
}
.brown{
   border: 3px solid rgb(70, 50, 50);
  border-radius: 5%;
}
@media screen and (min-width:1200px) {

  
 
}

@media (max-width: 600px) {
  .container {
    display: none; /* Hide the table */
  }
  
  /* .periodic-table-image {
    display: block; /* Show the image */
  } 

